 .chat-side_groups {
  height: 85%;
  width: 100%;
  background-color: #253141;
}

.chat-side_groups-list {
  padding-top: 10px;
  color: #fff;
}

.chat-side_group-name {
  font-size: 19px;
  color: #FFFFFF;
  margin-bottom: 5px;
  margin-left: 20px;
}

.chat-side_group-message {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 70px;
  margin-left: 20px;
}
