 .chat-side_groups {
    height: 85%;
    padding: 0 20px;
    background: #2f3e51;
    overflow: auto;
}

.chat-side_groups-list {
       box-sizing: border-box;
      padding: 20px 0 40px;
}

.chat-side_group-name {
  font-size: 19px;
  color: #FFFFFF;
  margin-bottom: 5px;
  margin-left: 20px;
}

.chat-side_group-message {
        font-size: 11px;
        margin-top: 5px;
        color: #fff;
}
