.notice {
    color: #fff;
    background-color: #00A070;
    text-align: center;
}

.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
}

.chat-side_user {
  height: 15%;
  width: 100%;
  background-color: #090c10;
  position: relative;
}

.chat-side_user-content {
  height: 50px;
  width: 100%;
  line-height: 50px;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.chat-side_user-name {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 5 20px;
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.header__lists{
.list1 {
  margin: 64px 0px 0px 250px;
  position: relative;
  display: inline-block;
}

.list2{
  margin-left: 0px;
  position: relative;
  display: inline-block;
 }
}

.icon {
  color: #fff;
}

.chat-main {
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;
}

.chat-main__header {
  height: 15%;
  border: 1px solid #eee;
}

.chat-main__header--group {
  margin: 0 40px;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

.chat-main__header--group-name {
  color: #333;
  font-size: 20px;
  margin: 35px 0 15px;
  float: left;
}

.chat-main__header--group-edit-btn {
  color: #38AEF0;
  font-size: 15px;
  padding: 12.5px 20px;
  margin: 28px 2px 0;
  border: 1px solid #38AEF0;
  float: right;
  text-decoration: none;
}

.chat-main__header-members {
  color: #999;
  font-size: 12px;
  margin: 0 40px;
}

.chat-main__body {
  height: calc( 100vh - 15% - 90px );
  overflow-y: scroll;
}

.chat-main__body--messages-list {
  padding-top: 26px;
  padding-left: 40px;
}

.chat-main__message {
  padding: 20px 0;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

.chat-main__message-name {
  color: #434A54;
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin-left: 30px;
}

.chat-main__message-time {
  color: #999;
  font-size: 12px;
  padding: 0 10px 10px;
  float: left;

}

.lower-message__content {
  color: #434A54;
  clear: both;
  margin-left: 20px;
}

.chat-main__footer {
    height: 90px;
    width: 100%;
    background-color: #B8C3C7;
}

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 35px;

    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding: 0px 9px;
      position: relative;
    }
    &__mask {
      height: 50px;
      position: absolute;
      right: 203px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
      .icon-1 {
      }
    }
    &__submit {
      background-color: #38AEF0;
      border: none;
      color: #fff;
      float: right;
      font-size: 16px;
      height: 50px;
      padding: 0 28px;
    }
  }
